

    <div class="row">
        <div class=" col-md-12">
            <h4 class="text-muted form-group" >Personal Details</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="text-muted label-text" >First Name *</label>
                <input type="text" required id="firstName"
                       name="firstName" class="form-control"
                       data-ng-model="credentials.firstName">
            </div>
        </div>

        <div class="col-md-offset-1 col-md-6">
            <div class="form-group">
                <label class="text-muted label-text" >Last Name *</label>
                <input type="text" required id="lastName"
                       name="lastName" class="form-control"
                       data-ng-model="credentials.lastName">
            </div>
        </div>
    </div>

    <div class="row">
        <div  class="col-md-5">
            <div class="form-group">
                <label class="text-muted label-text" >Email address *</label>
                <input type="email" required id="email"
                       name="email" class="form-control"
                       data-ng-model="credentials.email">
            </div>
        </div>

        <div class="col-md-offset-1 col-md-6">
            <div class="form-group">
                <label class="text-muted label-text" >Re-enter email address *</label>
                <input type="email" required id="email2"
                       name="email2" data-ng-model="credentials.email2"
                       data-match="credentials.email" class="form-control">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="text-muted label-text" >Phone number, with country code(e.g. 12125551234) *</label>
                <input type="number" required id="phone"
                       name="phone" data-ng-model="credentials.phone"
                       class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center form-group">
                <a ui-sref="signup.address"
                   ng-disabled="userForm.$invalid"
                   class="btn btn-block btn-info">
                    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>