<section class="row" data-ng-controller="AuthenticationController">
    <div class="row">

        <div class="row">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <h1>Elliptic Vault <b>Application Form</b></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <h4 class="text-muted text-justify"> To apply for an Elliptic Vault account please complete the form below. <br>
                        By submitting an application form you are not committing to make any purchase or to opening an account.<br>
                        We will contact you once your application has been processed. </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-offset-3 col-md-6">
            <div class="text-center">
                <div  class="text-center status-buttons">
                    <a ui-sref-active="active" ui-sref=".details"><span>1</span>Details</a>
                    <a ui-sref-active="active" ui-sref=".address"><span>2</span>Address</a>
                    <a ui-sref-active="active" ui-sref=".security"><span>3</span>Security</a>
                </div>
            </div>
        </div>

        <div class="col-md-offset-3 col-md-6">
            <div class="form-group">
                <div data-ng-show="error" class="text-center text-danger">
                    <div class="alert alert-danger" role="alert">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="on">
                    <div id="form-view" ui-view>

                    </div>
            </form>
            <!--pre>
                {{ credentials }}
            </pre-->
        </div>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="form-group">
                    <div data-ng-show="success" class="text-center success">
                        <div class="alert alert-danger" role="alert">
                            <strong>Success!</strong> Your application has been submitted. We'll be in touch soon regarding the next steps.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>