

    <div class="row">
        <div  class="col-md-5">
            <div class="form-group">
                <label class="text-muted label-text" >Address line 1 *</label>
                <input type="text" required id="address1"
                       name="address1" data-ng-model="credentials.address1"
                       class="form-control">
            </div>
        </div>

        <div class="col-md-offset-1 col-md-6">
            <div class="form-group">
                <label class="text-muted label-text" >Address line 2</label>
                <input type="text" id="address2" name="address2"
                       data-ng-model="credentials.address2"
                       class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="text-muted label-text" >City *</label>
                <input type="text" required id="city"
                       name="city" data-ng-model="credentials.city"
                       class="form-control">
            </div>
        </div>

        <div class="col-md-offset-1 col-md-6">
            <div class="form-group">
                <label class="text-muted label-text" >Postal/Zip code *</label>
                <input type="text" required id="postal"
                       name="postal" data-ng-model="credentials.postal"
                       class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="text-muted label-text" >Country *</label>
                <country-select class="form-control" required
                                id="country" data-ng-model="credentials.country"
                                name="country">
                </country-select>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <h5 class="text-muted form-group">Previous Address (if at current address for fewer than 3 years)</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="text-muted label-text" >Address line 1</label>
                <input type="text" id="prevAddress1" name="prevAddress1"
                       class="form-control" data-ng-model="credentials.prevAddress1">
            </div>
        </div>

        <div class="col-md-offset-1 col-md-6">
            <div class="form-group">
                <label class="text-muted label-text" >Address line 2</label>
                <input type="text" id="prevAddress2" name="prevAddress2"
                       class="form-control"
                       data-ng-model="credentials.prevAddress2" >
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="text-muted label-text" >City</label>
                <input type="text" id="prevCity" name="prevCity"
                       data-ng-model="credentials.prevCity" class="form-control">
            </div>
        </div>

        <div class="col-md-offset-1 col-md-6">
            <div class="form-group">
                <label class="text-muted label-text" >Postal/Zip Code</label>
                <input type="text" id="prevPostal" name="prevPostal"
                       data-ng-model="credentials.prevPostal"
                       class="form-control" >
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="text-muted label-text" >Country</label>
                <country-select class="form-control" id="prevCountry"
                                data-ng-model="credentials.prevCountry"
                                name="prevCountry">
                </country-select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-center form-group">
            <div class="col-md-4 col-md-offset-4">
                <a ui-sref="signup.security"
                   ng-disabled="userForm.$invalid"
                   class="btn btn-block btn-info">
                    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>