@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}

.sign-up-form {
	background-color: white;
	border: 15px solid;
	border-radius: 15px;
	border-color: white;
}

.sign-in-form {
	background-color: white;
	border: 15px solid;
	border-radius: 15px;
	border-color: white;
}

.remove-account-container {
	display: inline-block;
	position: relative;
}

.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.label-text{
    font-size: 10px;
}

.text-justify {
    text-align: justify;
}

.text-certify {
    color: #808080;
    font-size: 11px;
}

.text-signgup-header{
    color:#E8E8E8
}

.status-buttons a {
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
}
.status-buttons a:hover {
    text-decoration: none;
}
.status-buttons span {
    background: #080808;
    display: block;
    height: 30px;
    margin: 0 auto;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
}
.status-buttons a.active span {
    background: #1793a5
}
