<section class="row" data-ng-controller="SettingsController">

    <div class="row">
        <div class="page-header">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 text-center">
                    <h1>Change password</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-offset-4 col-md-4 sign-in-form">
            <form name="userForm" data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="form-group">
                            <label class="text-muted label-text" >Current password</label>
                            <input type="password" id="currentPassword"
                                   name="currentPassword" class="form-control"
                                   data-ng-model="passwordDetails.currentPassword">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="form-group">
                            <label class="text-muted label-text" >New password</label>
                            <input type="password" id="newPassword"
                                   name="newPassword" class="form-control"
                                   data-ng-model="passwordDetails.newPassword">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="form-group">
                            <label class="text-muted label-text" >Verify password</label>
                            <input type="password" id="verifyPassword"
                                   name="verifyPassword" class="form-control"
                                   data-ng-model="passwordDetails.verifyPassword">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="text-center col-md-offset-2 col-md-8">
                        <div class="form-group">
                            <label class="text-muted label-text" ></label>
                            <button type="submit"  ng-disabled="userForm.$invalid"
                                    class="btn btn-info btn-block">Save Password</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="form-group">
                            <div data-ng-show="success" class="text-center text-success">
                                <div class="alert alert-success" role="alert">
                                    Password Changed <strong>Successfully!</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-8">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
