<section class="row" data-ng-controller="SettingsController">

    <div class="row">
        <div class="page-header">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h1>Edit profile</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6 sign-in-form">



            <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">

                <div class="row">
                    <div class=" col-md-12">
                        <h4 class="text-muted form-group" >Personal Details</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="text-muted label-text" >First Name *</label>
                            <input required type="text" id="firstName"
                                   name="firstName" class="form-control"
                                   data-ng-model="user.firstName">
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-6">
                        <div class="form-group">
                            <label class="text-muted label-text" >Last Name *</label>
                            <input required type="text" required id="lastName"
                                   name="lastName" class="form-control"
                                   data-ng-model="user.lastName">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div  class="col-md-5">
                        <div class="form-group">
                            <label class="text-muted label-text" >Email address *</label>
                            <input required disabled type="email" id="email"
                                   name="email" class="form-control"
                                   data-ng-model="user.email">
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-6">
                        <div class="form-group">
                            <label class="text-muted label-text" >Phone Number *</label>
                            <input required type="Number" id="phone"
                                   name="phone" data-ng-model="user.phone"
                                   class="form-control">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div  class="col-md-5">
                        <div class="form-group">
                            <label class="text-muted label-text" >Address line 1 *</label>
                            <input required type="text" id="address1"
                                   name="address1" data-ng-model="user.address1"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-6">
                        <div class="form-group">
                            <label class="text-muted label-text" >Address line 2</label>
                            <input type="text" id="address2" name="address2"
                                   data-ng-model="user.address2"
                                   class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="text-muted label-text" >City *</label>
                            <input required type="text" required id="city"
                                   name="city" data-ng-model="user.city"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-6">
                        <div class="form-group">
                            <label class="text-muted label-text" >Postal/Zip code *</label>
                            <input required type="text" required id="postal"
                                   name="postal" data-ng-model="user.postal"
                                   class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="text-muted label-text" >Country *</label>
                            <country-select required class="form-control" required
                                            id="country" data-ng-model="user.country"
                                            name="country">
                            </country-select>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <h5 class="text-muted form-group">Previous Address</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="text-muted label-text" >Address line 1</label>
                            <input type="text" id="prevAddress1" name="prevAddress1"
                                   class="form-control" data-ng-model="user.prevAddress1">
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-6">
                        <div class="form-group">
                            <label class="text-muted label-text" >Address line 2</label>
                            <input type="text" id="prevAddress2" name="prevAddress2"
                                   class="form-control"
                                   data-ng-model="user.prevAddress2" >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="text-muted label-text" >City</label>
                            <input type="text" id="prevCity" name="prevCity"
                                   data-ng-model="user.prevCity" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-6">
                        <div class="form-group">
                            <label class="text-muted label-text" >Postal/Zip Code</label>
                            <input type="text" id="prevPostal" name="prevPostal"
                                   data-ng-model="user.prevPostal"
                                   class="form-control" >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="text-muted label-text" >Country</label>
                            <country-select class="form-control" id="prevCountry"
                                            data-ng-model="user.prevCountry"
                                            name="prevCountry">
                            </country-select>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class=" col-md-12">
                        <h4 class="text-muted form-group" >Security Questions</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="text-muted label-text" >Date of birth*</label>
                            <p class="input-group">
                                <input type="text" required class="form-control"
                                       datepicker-popup="MM/dd/yyyy"
                                       is-open="$parent.opened"
                                       data-ng-model="user.dateOfBirth"
                                       datepicker-options="dateOptions"
                                       required close-text="Close"
                                       placeholder="mm/dd/yyyy"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-3">
                        <div class="form-group">
                            <label class="text-muted label-text" >Mother's maiden name *</label>
                            <input type="text" required id="mothersName"
                                   name="mothersName" class="form-control"
                                   data-ng-model="user.mothersName">
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-4">
                        <div class="form-group">
                            <label class="text-muted label-text" >Name of first school attended *</label>
                            <input type="text" required id="school"
                                   name="school" class="form-control"
                                   data-ng-model="user.school">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="text-muted label-text" >Passport number</label>
                            <input type="text" id="passport" name="passport"
                                   class="form-control"
                                   data-ng-model="user.passport">
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-3">
                        <div class="form-group">
                            <label class="text-muted label-text" >Driving license number</label>
                            <input type="text" id="driving" name="driving"
                                   class="form-control"
                                   data-ng-model="user.driving">
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-4">
                        <div class="form-group">
                            <label class="text-muted label-text" >Social security number (US citizens)</label>
                            <input type="text" id="social" name="social"
                                   class="form-control"
                                   data-ng-model="user.social">
                        </div>
                    </div>
                </div>

                    <!--div class="text-center form-group">
                        <button type="submit" class="btn btn-large btn-info">Save Profile</button>
                    </div-->
                    <!--div data-ng-show="success" class="text-center text-success">
                        <strong>Profile Saved Successfully</strong>
                    </div-->

                <div class="col-md-offset-3 col-md-6">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                </div>

                    <!--div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div-->

                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="form-group">
                            <div data-ng-show="success" class="text-center text-success">
                                <div class="alert alert-success" role="alert">
                                    Profile Saved <strong>Successfully!</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="text-center col-md-offset-4 col-md-4">
                        <div class="form-group">
                            <button type="submit"  ng-disabled="userForm.$invalid"
                                    class="btn btn-info btn-block">Save Profile</button>
                        </div>
                    </div>
                </div>

            </form>
	    </div>
    </div>
</section>
